{% extends 'base.html' %}

{% block head %}
<title>About Us</title>
{% endblock %}

{% block body %}
<section class="section-pricing" id="about">
    <div class="container">
          <span class="subheading" style="margin-top: 2rem;">About us</span>
          <h2 class="heading-secondary">
          Company Overview
          </h2>
        </div>
      <div class="container grid grid--1-cols">
        <div class="feature">
          <p class="feature-title">Welcome to Hrs: Your Ultimate Destination for Comfort and Luxury</p>
          <p class="feature-text">
          At Hrs, we pride ourselves on offering a unique blend of luxury, comfort, and exceptional service. Located in the heart of Batangas, our hotel provides a welcoming retreat for both business and leisure travelers. From our elegant rooms and world-class amenities to our attentive staff, we are dedicated to creating memorable experiences for every guest.

Our mission is to make each stay a seamless and relaxing experience, whether you're here for a weekend getaway or an extended visit. With a variety of dining options, a full-service spa, and convenient access to local attractions, we aim to provide everything you need for an unforgettable stay. We look forward to welcoming you and making your time at Hrs truly special.


          </p>
        </div>
    </div>
</section>
{% endblock %}