{% extends 'base.html' %}

{% block head %}
<title>Gallery</title>
{% endblock %}


{% block body %}

<section class="gallery-section">
    <h2 class="gallery-title">Our Hotel Gallery</h2>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='img/logo.png') }}" />
        </div>
    </div>
</section>

{% endblock %}